<div class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#/app/profile" class="link icon-only no-ripple"><i class="icon icon-back"></i></a>
      </div>
      <div class="center"> Change password </div>
      <div class="right">
      </div>
    </div>
  </div>

  <div class="page-content">

    <div class="card">
      <!-- <div class="card-header">Verification Code</div> -->
      <div class="card-content">
          <div class="card-content-inner"> 


              <form ng-submit="update()">
                <div class="list-block inputs-list">
                  <ul>
                    <li>
                      <div class="item-content">
                        <div class="item-inner"> 
                          <div class="item-title label">Current Password</div>
                          <div class="item-input item-input-field">
                            <input type="text" ng-model="d.current_pass">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-inner"> 
                          <div class="item-title label">New Password</div>
                          <div class="item-input item-input-field">
                            <input type="text" ng-model="d.new_pass">
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="item-content">
                        <div class="item-inner"> 
                          <div class="item-title label">Repeat Password</div>
                          <div class="item-input item-input-field">
                            <input type="text" ng-model="d.repeat_pass">
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>


                  <p style="margin-top:36px;" class="buttons-row">
                      <button type="submit" class="button button-raised button-fill color-red no-ripple">Update Password</button>
                  </p>

                </div>
              </form>


          </div>
      </div>
    </div>





  </div>
</div>
