<div class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#/app/profile" class="link icon-only no-ripple"><i class="icon icon-back"></i></a>
      </div>
      <div class="center"> Profile Edit </div>
      <div class="right">
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="card">
      <div class="card-content">
        <div class="card-content-inner"> 
          <form ng-submit="update()">
              <div class="list-block inputs-list">
                <ul ng-if="!donor">
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-name"></i></div>
                      <div class="item-inner"> 
                        <div class="item-title label">Your name</div>
                        <div class="item-input item-input-field">
                          <input type="text" ng-model="data.uthi_name">
                        </div>
                      </div>
                    </div>
                  </li>



                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-email"></i></div>
                      <div class="item-inner"> 
                        <div class="item-title label">E-mail</div>
                        <div class="item-input item-input-field">
                          <input type="email" ng-model="data.uthi_mail">
                        </div>
                      </div>
                    </div>
                  </li>

                 
                </ul>
                 <ul ng-if="donor">
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-name"></i></div>
                      <div class="item-inner"> 
                        <div class="item-title label">Your name</div>
                        <div class="item-input item-input-field">
                          <input type="text" ng-model="data.uthi_name">
                        </div>
                      </div>
                    </div>
                  </li>



                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-email"></i></div>
                      <div class="item-inner"> 
                        <div class="item-title label">E-mail</div>
                        <div class="item-input item-input-field">
                          <input type="email" ng-model="data.uthi_mail">
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-tel"></i></div>
                      <div class="item-inner"> 
                        <div class="item-title label">Phone 1</div>
                        <div class="item-input item-input-field">
                          <input type="text" ng-model="data.uthi_phone_one">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-tel"></i></div>
                      <div class="item-inner"> 
                        <div class="item-title label">Phone 2</div>
                        <div class="item-input item-input-field">
                          <input type="text" ng-model="data.uthi_phone_two">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                   <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-gender"></i></div>
                      <div class="item-inner "> 
                        <div class="item-title label">Gender</div>
                        <div class="item-input item-input-field">
                          <select ng-model="data.uthi_gender">
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </li>


                                    <li>
                   <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-url"></i></div>
                      <div class="item-inner "> 
                        <div class="item-title label">Blood Group</div>
                        <div class="item-input item-input-field">
                          <select ng-model="data.uthi_blood_group">
                            <option value="7">O +ive</option>
                            <option value="8">O -ive</option>
                            <option value="3">B +ive</option>
                            <option value="4">B -ive</option>
                            <option value="5">AB +ive</option>
                            <option value="6">AB -ive</option>
                            <option value="1">A +ive</option>
                            <option value="2">A -ive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                      <div class="item-inner not-empty-state"> 
                        <div class="item-title label">Birth date</div>
                        <div class="item-input item-input-field not-empty-state">
                          <input type="date" placeholder="Birth day" ng-model="data.uthi_dob">
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                      <div class="item-inner not-empty-state"> 
                        <div class="item-title label">Last blood donated on</div>
                        <div class="item-input item-input-field not-empty-state">
                          <input type="date" placeholder="Birth day"  ng-model="data.uthi_lbd">
                        </div>
                      </div>
                    </div>
                  </li>

              
                  <li>
                   <div class="item-content">
                      <div class="item-media"><i class="fa fa-map-o" aria-hidden="true"></i></div>
                      <div class="item-inner "> 
                        <div class="item-title label">Temporary State</div>
                        <div class="item-input item-input-field" >
                          <select ng-change="loadTempDist()" ng-model="data.uthi_temp_state">
                            <option ng-repeat="s in sd" ng-selected="s.state_id == data.uthi_temp_state" value="{{s.state_id}}">{{s.state_name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                   <div class="item-content">
                      <div class="item-media"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <div class="item-inner "> 
                        <div class="item-title label">Temporary District</div>
                        <div class="item-input item-input-field">
                          <select  ng-model="data.uthi_temp_dist">
                            <option ng-repeat="s in temp_districts" ng-selected="s.dist_id == data.uthi_temp_dist"  value="{{s.dist_id}}">{{s.dist_name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                   <div class="item-content">
                      <div class="item-media"><i class="fa fa-map-o" aria-hidden="true"></i></div>
                      <div class="item-inner "> 
                        <div class="item-title label">Permanent State</div>
                        <div class="item-input item-input-field">
                          <select ng-change="loadPermDist()" ng-model="data.uthi_perm_state">
                            <option ng-repeat="s in sd" ng-selected="s.state_id == data.uthi_perm_state"  value="{{s.state_id}}">{{s.state_name}}</option>

                          </select>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                   <div class="item-content">
                      <div class="item-media"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <div class="item-inner "> 
                        <div class="item-title label">Permanent District</div>
                        <div class="item-input item-input-field">
                          <select  ng-model="data.uthi_perm_dist">
                            
                            <option ng-repeat="s in perm_districts" ng-selected="s.dist_id == data.uthi_perm_dist"  value="{{s.dist_id}}">{{s.dist_name}}</option>
                            
                          </select>
                        </div>
                      </div>
                    </div>
                  </li>
                  
                </ul>
              </div>

              <p style="margin-top:36px;" class="buttons-row">
                  <button type="submit" class="button button-raised button-fill color-blue no-ripple">Update Profile Details</button>
              </p>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
