<style type="text/css">
.donor-card .item-title {
      margin-left: 1px;
      font-size: 18px;
}
.donor-card .badge {
      font-size: 14px;
}

</style>
<div class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a class="link open-panel icon-only no-ripple"><i class="icon icon-bars"></i></a>
      </div>
      <div class="center">  Donors List </div>
      <div class="right">
        <a href="#/app/filter" class="link icon-only no-ripple"><i class="fa fa-filter"></i></a>

      </div>
    </div>
  </div>

  <div  class="page-content">
    <div ng-if="nores">
        <div class="card donor-card list-block">
            <div class="card-content"> 
              <div class="card-content-inner">
                  Sorry no results found for your search!
                
              </div>
            </div>
        </div>
    </div>
    <div infinite-scroll="getData()" infinite-scroll-distance="10">
        <div ng-repeat="donor in donors" class="card donor-card list-block">
            <div class="card-header item-inner">
              <div class="item-title">{{donor.uthi_name}} <span ng-if="data.uthi_id == donor.uthi_id">(Me)</span>  </div>
              <div class="item-after"><span class="badge bg-green">{{donor.blood_group}}</span></div>

            </div>
            <div class="card-content"> 
              <div class="card-content-inner">
                <!-- <p> <i class="fa fa-tint"></i>&nbsp; {{donor.blood_group}}  </p> -->
                <p> <i class="fa fa-envelope"  style="font-size:1.2em"></i>&nbsp;&nbsp; {{donor.uthi_mail}}  </p>
                <p> <i class="fa fa-map-marker" style="font-size:1.6em"></i>&nbsp;&nbsp;&nbsp; {{donor.temp_dist_name}} ,{{donor.temp_state_name}} [ <span style="font-size:.8em">current LOC </span>]</p>
                <p> <i class="fa fa-map-o" style="font-size:1.1em"></i>&nbsp;&nbsp;&nbsp; {{donor.perm_dist_name}} ,{{donor.perm_state_name}} [ <span style="font-size:.8em">permanent LOC</span> ] </p>
                <p> <i class="fa fa-mobile fa-lg" style="font-size:1.9em"></i>&nbsp;&nbsp;&nbsp; {{donor.uthi_phone_one}} <span ng-if="donor.uthi_phone_two">,</span> {{donor.uthi_phone_two}} </p>
                <div class="ks-facebook-date"></div>
                <p class="color-gray" ng-if="donor.uthi_lbd != '0000-00-00' "> <i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp; Last donated on {{donor.uthi_lbd | date}} </p>
              </div>
            </div>
            <div class="card-footer">
              <a ng-click ="callNow(donor.uthi_phone_one)" class="button color-red no-ripple btn-bld pull-right"> <i class="fa fa-phone" aria-hidden="true"></i>  Call Donor </a>
              <!-- <a href class="button color-red no-ripple  btn-bld" > <i class="fa fa-search-plus" aria-hidden="true"></i> View </a> -->
              <!-- <div class="item-after"><span class="badge bg-green">{{donor.blood_group}}</span></div> -->
            </div>
        </div>
    </div>
    <div style="text-align:center" ng-show="getting && spinner">
      <br>
      <i style="color:#cd1910" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
      <br>
      <br>
    </div>
  </div>


</div>